.flex1 {
    display: flex;
    justify-content: center;
    background-color: green;
}
  
.flex2 {
    display: flex;
    justify-content: space-around;
    background-color: green;
}
  
.flex3 {
    display: flex;
    justify-content: space-between;
    background-color: green;
}
  
.flex4 {
    display: flex;
    justify-content: flex-start;
    background-color: green;
}
  
.flex5 {
    display: flex;
    justify-content: flex-end;
    background-color: green;
}
  
.flex-items {
    background-color: #f4f4f4;
    width: 100px;
    height:50px;
    margin: 10px;
    text-align: center;
    font-size: 40px;
}
h2 {
    text-align:center;
}
.float{
    font-size:40px;
    text-align:center;
    color:#009900;
    font-weight:bold;
}                       
